<h2>Evento: {{eventName}}</h2>
<div *ngIf="info">
  <p>Epicentro: {{info.epicenter}}</p>
  <p>Fecha: {{info.date}}</p>
  <p>Magnitud: {{info.magnitude}}</p>
</div>
<button (click)="toggleSort('station')">Ordenar por Station Code</button>
<button (click)="toggleSort('pgaMax')">Ordenar por PGA Maximo</button>
<table class="table">
  <thead>
    <tr><th>Descargar</th><th>Archivo</th><th>Station Code</th><th>PGA Maximo</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of files">
      <td><input type="checkbox" [(ngModel)]="f.selected"></td>
      <td>{{f.file}}</td>
      <td>{{f.station}}</td>
      <td>{{f.pgaMax}}</td>
    </tr>
  </tbody>
</table>
<button (click)="download()">Descargar seleccionados</button>
